<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- These meta tags come first. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no" />

        <title>WMG Speed Data</title>

        <!-- Include the CSS -->
        <link href="{{ url_for('static', filename='css/toolkit-inverse.min.css') }}" rel="stylesheet">

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">WMG Speed Data</a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                      <li><a href="/">Home</a></li>
                      <li><a href="about">About</a></li>
                      <li><a href="contact">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container-fluid page-header" role="main">

            <!-- content here -->
            &nbsp;
            &nbsp;
            &nbsp;
            {% block content %}{% endblock %}

        </div><!-- /.container -->

        <!-- Include jQuery (required) and the JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/toolkit.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
    </body>
</html>
