{% extends "base.html" %}
{% block content %}

    <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="statcard statcard-primary p-a-md m-b">
          <h3 class="statcard-number">
            {{ car_count | round | int  }}
          </h3>
          <span class="statcard-desc">Total Car Count</span>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="statcard statcard-success p-a-md m-b">
          <h3 class="statcard-number">
            {{ violator_count | round | int }} ({{ violator_pct }}%)
          </h3>
          <span class="statcard-desc">Total Violator Count</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="statcard statcard-info p-a-md m-b">
          <h3 class="statcard-number">
            {{ max_speed | round | int }}
          </h3>
          <span class="statcard-desc">Max Speed (MPH)</span>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="statcard statcard-danger p-a-md m-b">
          <h3 class="statcard-number">
            {{ avg_speed }} ({{ over_limit }} over)
          </h3>
          <span class="statcard-desc">Avg Speed (MPH)</span>
        </div>
      </div>
    </div>
    </div>

    <div class="container">

      <div class=row>
          <h4>Total Vehicles vs Violators by Year</h4>
          <canvas
            class="ex-line-graph"
            data-scale-override="true"
            data-scale-steps="10"
            data-scale-step-width="50000"
            data-scale-start-value="0"
            data-chart="line"
            data-bezier-curve="true"
            data-scale-line-color="transparent"
            data-scale-grid-line-color="rgba(255,255,255,.05)"
            data-scale-font-color="#a2a2a2"
            data-fill-color="rgba(220,220,220,0.2)"
            data-stroke-color="rgba(220,220,220,1)"
            data-point-color="#cccccc"
            data-point-stroke-color="#fff"
            data-point-highlight-fill="#fff"
            data-point-highlight-stroke="rgba(220,220,220,1)"
            data-labels="[ {{ ts_labels }} ]"
            data-value="[
                  {fillColor:'rgba(28,222,22,.03)', data:[{{ ts_violator }}]},
                  {data:[{{ ts_vehicle }}]}
                  ]">
          </canvas>
      </div>

      <div class=row>
          <h4>Max and Mean Speeds by Hour of Day</h4>
          <canvas
            class="ex-line-graph"
            data-scale-override="true"
            data-scale-steps="10"
            data-scale-step-width="10"
            data-scale-start-value="0"
            data-chart="line"
            data-scale-line-color="transparent"
            data-scale-grid-line-color="rgba(255,255,255,.05)"
            data-scale-font-color="#a2a2a2"
            data-labels="[ {{ ts_speed_labels }} ]"
            data-value="[
                  {fillColor:'rgba(28,222,22,.03)', data:[{{ ts_mean_speed_data }}]},
                  {data:[{{ ts_max_speed_data }} ]}
                  ]">
          </canvas>
      </div>

      <div class=row>
          <h4>Max and Mean Speeds by Day of Week</h4>
          <canvas
            class="ex-line-graph"
            data-scale-override="true"
            data-scale-steps="10"
            data-scale-step-width="10"
            data-scale-start-value="0"
            data-chart="bar"
            data-scale-line-color="transparent"
            data-scale-grid-line-color="rgba(255,255,255,.05)"
            data-scale-font-color="#a2a2a2"
            data-labels="[ {{ ts_dow_labels }} ]"
            data-value="[
                  {label: 'mean', data:[{{ ts_dow_mean }}]},
                  {label: 'max', data:[{{ ts_dow_max }} ]}
                  ]">
          </canvas>
      </div>

      <div class=row>
          <h4>Car count and voilators by hour of day</h4>
          <canvas
            class="ex-line-graph"
            data-scale-override="true"
            data-scale-steps="10"
            data-scale-step-width="10"
            data-scale-start-value="0"
            data-chart="bar"
            data-scale-line-color="transparent"
            data-scale-grid-line-color="rgba(255,255,255,.05)"
            data-scale-font-color="#a2a2a2"
            data-labels="[ {{ ts_car_count_labels }} ]"
            data-value="[
                  {label: 'count', data:[{{ ts_car_count_count }}]},
                  {label: 'violators', data:[{{ ts_car_count_violators }} ]}
                  ]">
          </canvas>
      </div>

    </div>

{% endblock %}
