<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- These meta tags come first. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Westminster Glen Speed Sign Data</title>

        <!-- Include the CSS -->
        <link href="{{ url_for('static', filename='css/toolkit-inverse.min.css') }}" rel="stylesheet">

    </head>
    <body>

        <div class="container">

        <div class="m-x-auto">
            <h1>Westminster Glen Speed Data</h1>
        </div>
        <hr>

        <div class="container">

            <div class="row">
                <div class="col-sm-4">
                    <div class="statcard p-a-md">
                      <h3 class="statcard-number">
                        {{ car_count | round | int  }}
                      </h3>
                      <span class="statcard-desc">Total Car Count</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="statcard p-a-md">
                      <h3 class="statcard-number">
                        {{ violator_count | round | int }}
                      </h3>
                      <span class="statcard-desc">Total Violator Count</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="statcard p-a-md">
                        <h3 class="statcard-number">
                        {{ violator_pct }}%
                        </h3>
                        <span class="statcard-desc">Violator %</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="statcard p-a-md">
                        <h3 class="statcard-number">
                          {{ max_speed | round | int }}
                        </h3>
                        <span class="statcard-desc">Max Speed (MPH)</span>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="statcard p-a-md">
                        <h3 class="statcard-number">
                        {{ avg_speed }}
                        </h3>
                        <span class="statcard-desc">Avg Speed (MPH)</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="container">

            <div class=row>
                <h4>Total Vehicles vs Violators by Year</h4>
                <canvas
                  class="ex-line-graph"
                  data-scale-override="true"
                  data-scale-steps="10"
                  data-scale-step-width="50000"
                  data-scale-start-value="0"
                  data-chart="line"
                  data-bezier-curve="true"
                  data-scale-line-color="transparent"
                  data-scale-grid-line-color="rgba(255,255,255,.05)"
                  data-scale-font-color="#a2a2a2"
                  data-fill-color="rgba(220,220,220,0.2)"
                  data-stroke-color="rgba(220,220,220,1)"
                  data-point-color="#cccccc"
                  data-point-stroke-color="#fff"
                  data-point-highlight-fill="#fff"
                  data-point-highlight-stroke="rgba(220,220,220,1)"
                  data-labels="[ {{ ts_labels }} ]"
                  data-value="[
                        {fillColor:'rgba(28,222,22,.03)', data:[{{ ts_violator }}]},
                        {data:[{{ ts_vehicle }}]}
                        ]">
                </canvas>
            </div>

            <div class=row>
                <h4>Max and Mean Speeds by Hour of Day</h4>
                <canvas
                  class="ex-line-graph"
                  data-scale-override="true"
                  data-scale-steps="10"
                  data-scale-step-width="10"
                  data-scale-start-value="0"
                  data-chart="line"
                  data-scale-line-color="transparent"
                  data-scale-grid-line-color="rgba(255,255,255,.05)"
                  data-scale-font-color="#a2a2a2"
                  data-labels="[ {{ ts_speed_labels }} ]"
                  data-value="[
                        {fillColor:'rgba(28,222,22,.03)', data:[{{ ts_mean_speed_data }}]},
                        {data:[{{ ts_max_speed_data }} ]}
                        ]">
                </canvas>
            </div>

        </div>

        {{timeseries}}

    </div>

    <!-- Include jQuery (required) and the JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/toolkit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
  </body>
</html>
